@{
    ViewData["Title"] = "About me.";
}
<h2>Jarosław Rutkowski</h2>

<p>
    I just end the studies at Maria Curie-Skłodowska Universality. Pillage Village was made for my
    <a href="https://github.com/jaroslawrutk/PillageVillage/blob/master/MFI-LIC-279215%20(watermarked).pdf">Bachelor thesis</a>
    about idle games.
</p>
