@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    <strong>Email:</strong> <a href="mailto:jaroslaw.rutk@gmail.com">Mail address</a><br />
    <strong>Github:</strong> <a href="https://github.com/jaroslawrutk">Github</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/jaroslaw-rutkowski-748655170/">LinkedIn</a><br />
</address>
