
@{
    ViewData["Title"] = "Highscore";
}



<div style="border:1px solid black; position: relative; width:100%;">
    <img src="~/images/highscoreBaner.png" alt="hg" class="img-responsive" />
    <div style="position:absolute;left:50%;top:50%;color:white; font:bold, 100px, The Wild Breath of Zelda">
        <p>
            asdsadsadsa
        </p>
    </div>
</div>